<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootsatoken.entity.SatokenUser">

<!--    <select id="selectByName" resultType="com.example.springbootsatoken.mapper.SatokenUserMapper">-->
<!--        select * from dog where name = #{name}-->
<!--    </select>-->

    <select id="selectByUsername" resultType="com.example.springbootsatoken.mapper.SatokenUserMapper">
        select * from satokenuser where username=#{username} and removed=0
    </select>

</mapper>